@using parking_control.Models
@using parking_control.Service
@{
    ViewBag.Title = "Veículos";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("[MARCAR ENTRADA]", "Add", "Vehicle", null, null)
        <br /><br />
    </div>
    <div class="col-md-12">
        <section id="listdates">
            <ul>
                @foreach (VehicleEntrance item in VehicleControl.GetListVehicles())
                {
                    <li>
                        @item.ToString()
                        @Html.ActionLink("[MARCAR SAÍDA]", "Update", "Vehicle", new { id = item.ID }, null)
                        @Html.ActionLink("[EXCLUIR]", "Delete", "Vehicle", new { id = item.ID }, new { @class = "delete-index" })
                    </li>
                }
            </ul>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}