@using parking_control.Service
@{
    ViewBag.Title = "Valores Praticados";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("[ADICIONAR]", "Add", "ValidityDate", routeValues: null, htmlAttributes: null)
        <br /><br />
    </div>
    <div class="col-md-12">
        <section id="listdates">
            <ul>
                @foreach (ValidityDateControl item in ValidityControl.GetListDates())
                {
                    <li>
                        @item.ToString()
                        @Html.ActionLink("[ALTERAR]", "Update", "ValidityDate", routeValues: new { id = item.ID}, htmlAttributes: null)
                    </li>
                }
            </ul>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}