@using parking_control.Service
@{
    ViewBag.Title = "Valores Praticados";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("[ADICIONAR]", "Add", "ValidityDate", null, null)
        <br /><br />
    </div>
    <div class="col-md-12">
        <section id="listIndex">
            <ul>
                @foreach (var item in ValidityControl.GetListDates())
                {
                    <li >
                        @item.ToString()
                        @Html.ActionLink("[ALTERAR]", "Update", "ValidityDate", new { id = item.ID}, null)
                        @Html.ActionLink("[EXCLUIR]", "Delete", "ValidityDate", new { id = item.ID }, new { @class = "delete-index"})
                    </li>
                }
            </ul>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/parking-control")
}